/* Footer */
footer{

    border-top: 2px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 4px;
    color: $color-font;
    font-size: 0.6rem;
    font-family: $font;

    img{
        width: 1.5rem;
        height: 1.5rem;
    }
}