//HEADER

header{

    //border
    padding: 30px;
    border-bottom: 2px solid gray;

    nav{
        .container-fluid{
            img{
                width: 9rem;
            }
            ul{
                li{
                    a{
                        text-decoration: none;
                        font-family: $font;
                        font-weight: 500;

                        &:hover{
                            color: red;
                        }
                    }
                }
            }
        } 
    }
}
