// SECTION-DOS

@mixin sizes($width, $height){
    width: $width;
    height: $height;
}

.seccion-dos{
    font-family: $font;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    @include sizes(100%, 100%);
    
    .item-uno{
        h1{
            font-size: 1rem;
            color: $color-font;
            text-align: center;
        }
        p{
            color: $color-font;
            padding: 5px;
            font-size: 0.7rem;
            text-align: center;
        }
    }
    .item-dos{
        iframe{
            padding: 5px;
        }
        #mapa{
            @include sizes(,250px);
        }
        .img-historia{
            @include sizes(300px,)
            padding: 10px;
        }
    }
}