/* CARDS - Principales Atracciones*/

.seccion-dos{
    .item-dos{
        .card{
            margin:10px;
            background-image: linear-gradient(to right, #e8e6dc,#c78f19);
            .card-img-top{
                width: 230px;
                height: 300px;
            }
            .card-title{
                font-family: 'Open Sans', sans-serif;
                font-size: 0.9rem;
                font-weight: 600;
                display: flex;
                justify-content: left;
                margin:6px;
            }
        }
    }
}